# Flutter/Dart/Pub 
.dart_tool/ 
.packages 
.pub/ 
build/ 
# Flutter specific 
.flutter-plugins 
.flutter-plugins-dependencies 
# IDE files 
.idea/ 
.vscode/ 
# OS files 
.DS_Store 
Thumbs.db 
# Metadata 
.metadata 
# Lock file 
pubspec.lock 
